In [32]:
import pandas as pd

In [33]:
df = pd.read_csv("C:/Users/roboc/Downloads/glassdoor_jobs.csv")

In [34]:
df=df.loc[df['Salary Estimate']!="-1"]

In [36]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('(Glassdoor est.)', '')

In [37]:
df['Salary Estimate'].unique()

array(['$53K-$91K ', '$63K-$112K ', '$80K-$90K ', '$56K-$97K ',
       '$86K-$143K ', '$71K-$119K ', '$54K-$93K ', '$86K-$142K ',
       '$38K-$84K ', '$120K-$160K ', '$126K-$201K ', '$64K-$106K ',
       '$106K-$172K ', '$46K-$85K ', '$83K-$144K ', '$102K-$190K ',
       '$67K-$137K ', '$118K-$189K ', '$110K-$175K ', '$64K-$111K ',
       '$81K-$130K ', '$73K-$119K ', '$86K-$139K ', '$63K-$105K ',
       '$109K-$177K ', '$63K-$110K ', '$75K-$124K ', '$34K-$61K ',
       '$72K-$120K ', '$93K-$149K ', '$85K-$140K ', '$77K-$135K ',
       '$82K-$132K ', '$83K-$137K ', '$115K-$180K ', '$74K-$138K ',
       '$64K-$112K ', '$68K-$129K ', '$52K-$113K ',
       '$110K-$150K(Employer est.)',
       'Employer Provided Salary:$150K-$160K', '$158K-$211K ',
       '$20K-$39K ', '$56K-$117K ', '$63K-$99K ', '$68K-$114K ',
       '$41K-$95K ', '$86K-$144K ', '$80K-$139K ', '$56K-$95K ',
       '$120K-$189K ', '$111K-$176K ', '$84K-$146K ', '$107K-$172K ',
       '$49K-$85K ', '$61K-$109K ', '$88K-$148K ', '$60K-$99K ',
       '$41K-$72K ', '$96K-$161K ', '$65K-$130K ', '$52K-$81K ',
       '$139K-$220K ', '$50K-$102K ', '$85K-$139K ', '$74K-$122K ',
       '$99K-$157K ', '$79K-$222K ', '$57K-$118K ', '$86K-$141K ',
       '$94K-$154K ', '$37K-$76K ', '$100K-$160K ', '$55K-$100K ',
       '$60K-$114K ', '$39K-$68K ', '$64K-$107K ', '$31K-$65K ',
       '$34K-$62K ', '$117K-$231K ', '$79K-$134K ', '$52K-$93K ',
       '$55K-$116K ', '$72K-$123K ', '$74K-$124K ', '$40K-$73K ',
       '$102K-$164K ', '$89K-$153K ', '$61K-$110K ', '$65K-$110K ',
       '$200K-$275K(Employer est.)', '$68K-$123K ', '$80K-$129K ',
       '$39K-$71K ', '$38K-$85K ', '$121K-$193K ', '$54K-$102K ',
       '$102K-$163K ', '$76K-$140K ', '$60K-$101K ', '$82K-$133K ',
       '$65K-$125K ', '$91K-$148K ', '$95K-$173K ', '$77K-$124K ',
       '$80K-$135K ', '$85K-$159K ', '$80K-$105K(Employer est.)',
       '$43K-$81K ', '$29K-$50K ', '$26K-$55K ', '$61K-$118K ',
       '$60K-$102K ', '$112K-$182K ', '$51K-$112K ', '$113K-$223K ',
       '$72K-$129K ', '$71K-$123K ',
       'Employer Provided Salary:$120K-$145K', '$80K-$120K ',
       '$80K-$130K ', '$59K-$115K ', '$71K-$136K ', '$81K-$167K ',
       '$71K-$204K ', '$75K-$125K ', '$77K-$136K ', '$74K-$123K ',
       '$44K-$78K ', '$65K-$148K ', '$59K-$110K ', '$85K-$134K ',
       '$124K-$204K ', '$131K-$207K ', '$110K-$174K ', '$52K-$101K ',
       '$81K-$133K ', '$132K-$211K ', '$74K-$140K ', '$100K-$190K ',
       '$43K-$80K ', '$17-$24 Per Hour', '$91K-$149K ', '$42K-$82K ',
       '$116K-$185K ', '$59K-$116K ', '$48K-$95K ', '$31K-$72K ',
       '$105K-$198K ', '$98K-$182K ', '$73K-$124K ',
       'Employer Provided Salary:$200K-$250K', '$21-$34 Per Hour',
       '$117K-$206K ', '$111K-$183K ', '$81K-$159K ', '$83K-$166K ',
       '$114K-$182K ', '$42K-$76K ', '$114K-$179K ', '$60K-$123K ',
       '$100K-$166K ', '$108K-$173K ', '$48K-$93K ', '$54K-$115K ',
       '$60K-$127K ', '$90K-$179K ', '$138K-$224K ',
       '$190K-$220K(Employer est.)', '$35K-$62K ', '$18-$25 Per Hour',
       '$39K-$66K ', '$42K-$86K ', '$69K-$127K ', '$40K-$68K ',
       '$49K-$113K ', '$75K-$140K ', '$66K-$112K ', '$76K-$125K ',
       '$44K-$86K ', '$15-$25 Per Hour', '$53K-$92K ', '$65K-$120K ',
       '$60K-$103K ', '$53K-$105K ', '$33K-$62K ', '$48K-$90K ',
       '$34K-$64K ', '$66K-$111K ', '$91K-$138K ', '$62K-$114K ',
       '$71K-$129K ', '$74K-$119K ', '$55K-$97K ',
       '$15K-$16K(Employer est.)', '$61K-$106K ', '$127K-$199K ',
       '$74K-$126K ', '$33K-$72K ', '$37K-$63K ', '$67K-$119K ',
       '$72K-$117K ', '$78K-$126K ', '$116K-$194K ', '$83K-$133K ',
       '$45K-$82K ', '$83K-$135K ', '$70K-$122K ', '$70K-$132K ',
       '$54K-$101K ', '$68K-$112K ', '$42K-$74K ', '$95K-$161K ',
       '$76K-$126K ', '$108K-$176K ', '$130K-$208K ', '$37K-$68K ',
       '$52K-$99K ', '$105K-$173K ', '$71K-$134K ', '$39K-$82K ',
       '$88K-$162K ', '$55K-$99K ', '$67K-$117K ', '$92K-$150K ',
       '$116K-$209K ', '$38K-$82K ', 'Employer Provided Salary:$85K-$90K',
       '$62K-$119K ', '$84K-$136K ', '$52K-$89K ', '$65K-$119K ',
       '$63K-$101K ', '$127K-$202K ', '$31K-$57K ', '$75K-$143K ',
       '$105K-$194K ', '$45K-$86K ', '$95K-$154K ', '$80K-$148K ',
       '$36K-$62K ', '$50K-$92K ', '$67K-$135K ', '$42K-$80K ',
       '$68K-$139K ', '$34K-$92K ', '$54K-$71K ', '$65K-$124K ',
       '$109K-$200K ', '$61K-$113K ', '$43K-$86K ', '$74K-$149K ',
       '$113K-$196K ', '$97K-$160K ', '$24-$39 Per Hour', '$102K-$172K ',
       '$108K-$171K ', '$76K-$142K ', '$202K-$306K ', '$49K-$97K ',
       '$65K-$134K ', '$32K-$59K ', '$87K-$158K ', '$107K-$173K ',
       '$56K-$99K ', 'Employer Provided Salary:$25-$28 Per Hour',
       '$80K-$155K ', '$43K-$98K ', '$45K-$78K ', '$44K-$96K ',
       '$50K-$110K ', '$61K-$119K ',
       'Employer Provided Salary:$100K-$140K', '$56K-$91K ',
       '$101K-$158K ', '$125K-$210K ', '$43K-$77K ', '$139K-$221K ',
       '$78K-$147K ', '$37K-$66K ', '$38K-$64K ', '$43K-$82K ',
       '$90K-$110K(Employer est.)', '$93K-$151K ', '$40K-$101K ',
       '$97K-$180K ', '$81K-$134K ', '$84K-$157K ', '$121K-$203K ',
       '$52K-$85K ', '$81K-$140K ', '$83K-$148K ', '$31K-$55K ',
       '$102K-$178K ', 'Employer Provided Salary:$110K-$130K',
       '$48K-$85K ', '$66K-$123K ', '$92K-$146K ', '$21-$29 Per Hour',
       '$10-$17 Per Hour', '$150K-$239K ', '$52K-$91K ',
       '$82K-$129K(Employer est.)', '$47K-$101K ', '$49K-$76K ',
       '$43K-$88K ', '$124K-$199K ', '$97K-$181K ', '$100K-$173K ',
       '$53K-$96K ', '$65K-$96K ', '$75K-$127K ', '$94K-$139K ',
       '$176K-$289K ', '$92K-$149K ', '$118K-$188K ', '$108K-$146K ',
       '$65K-$106K ', '$55K-$98K ', '$94K-$162K ', '$63K-$120K ',
       '$126K-$228K ', '$80K-$134K ', '$85K-$142K ', '$87K-$140K ',
       '$76K-$127K ', '$54K-$92K ', '$61K-$100K ', '$112K-$179K ',
       '$63K-$111K ', '$75K-$126K ', '$110K-$184K ', '$76K-$145K ',
       '$70K-$118K ', '$94K-$153K ', '$150K-$180K ', '$42K-$77K ',
       '$47K-$85K ', '$62K-$112K ', '$64K-$108K ', '$89K-$144K ',
       '$55K-$105K ', '$135K-$211K ', '$57K-$80K ', '$129K-$215K ',
       '$63K-$127K ', '$50K-$89K ', '$71K-$124K ', '$69K-$121K ',
       '$150K-$238K ', '$77K-$132K ', '$59K-$112K ', '$35K-$65K ',
       '$79K-$147K ', '$119K-$187K ', '$90K-$157K ', '$32K-$62K ',
       '$116K-$208K ', '$102K-$165K ', '$91K-$159K ', '$80K-$133K ',
       '$39K-$69K ', '$27K-$48K ', '$36K-$71K ', '$130K-$206K ',
       '$99K-$178K ', '$86K-$137K ', '$37K-$100K ', '$58K-$111K ',
       '$72K-$133K ', '$61K-$126K ', '$95K-$160K ', '$33K-$61K ',
       '$69K-$119K ', '$67K-$127K ', '$66K-$117K ', '$50K-$98K ',
       '$90K-$153K ', 'Employer Provided Salary:$100K-$135K',
       '$42K-$79K ', '$84K-$153K ', '$44K-$73K ', '$40K-$87K ',
       '$72K-$142K ', '$74K-$137K ', '$57K-$109K ', '$136K-$208K ',
       '$171K-$272K ', '$65K-$126K ', '$118K-$228K ', '$113K-$182K ',
       '$58K-$104K ', '$58K-$108K ', '$81K-$161K ', '$115K-$220K ',
       '$71K-$144K ', '$32K-$57K ', '$79K-$136K ', '$48K-$113K ',
       '$27-$47 Per Hour', '$68K-$125K ', '$39K-$67K ', '$71K-$135K ',
       '$61K-$123K ', '$87K-$141K ', '$71K-$121K ', '$72K-$121K ',
       '$51K-$88K ', '$101K-$141K ', '$79K-$127K ', '$81K-$132K ',
       'Employer Provided Salary:$120K-$140K', '$65K-$113K ',
       '$59K-$125K ', '$80K-$142K ', '$62K-$113K '], dtype=object)

In [25]:
df['Salary Estimate'].unique()

array(['$53K-$91K ', '$63K-$112K ', '$80K-$90K ', '$56K-$97K ',
       '$86K-$143K ', '$71K-$119K ', '$54K-$93K ', '$86K-$142K ',
       '$38K-$84K ', '$120K-$160K ', '$126K-$201K ', '$64K-$106K ',
       '$106K-$172K ', '$46K-$85K ', '$83K-$144K ', '$102K-$190K ',
       '$67K-$137K ', '$118K-$189K ', '$110K-$175K ', '$64K-$111K ',
       '$81K-$130K ', '$73K-$119K ', '$86K-$139K ', '$63K-$105K ',
       '$109K-$177K ', '$63K-$110K ', '$75K-$124K ', '$34K-$61K ',
       '$72K-$120K ', '$93K-$149K ', '$85K-$140K ', '$77K-$135K ',
       '$82K-$132K ', '$83K-$137K ', '$115K-$180K ', '$74K-$138K ',
       '$64K-$112K ', '$68K-$129K ', '$52K-$113K ', '$110K-$150K',
       '$150K-$160K', '$158K-$211K ', '$20K-$39K ', '$56K-$117K ',
       '$63K-$99K ', '$68K-$114K ', '$41K-$95K ', '$86K-$144K ',
       '$80K-$139K ', '$56K-$95K ', '$120K-$189K ', '$111K-$176K ',
       '$84K-$146K ', '$107K-$172K ', '$49K-$85K ', '$61K-$109K ',
       '$88K-$148K ', '$60K-$99K ', '$41K-$72K ', '$96K-$161K ',
       '$65K-$130K ', '$52K-$81K ', '$139K-$220K ', '$50K-$102K ',
       '$85K-$139K ', '$74K-$122K ', '$99K-$157K ', '$79K-$222K ',
       '$57K-$118K ', '$86K-$141K ', '$94K-$154K ', '$37K-$76K ',
       '$100K-$160K ', '$55K-$100K ', '$60K-$114K ', '$39K-$68K ',
       '$64K-$107K ', '$31K-$65K ', '$34K-$62K ', '$117K-$231K ',
       '$79K-$134K ', '$52K-$93K ', '$55K-$116K ', '$72K-$123K ',
       '$74K-$124K ', '$40K-$73K ', '$102K-$164K ', '$89K-$153K ',
       '$61K-$110K ', '$65K-$110K ', '$200K-$275K', '$68K-$123K ',
       '$80K-$129K ', '$39K-$71K ', '$38K-$85K ', '$121K-$193K ',
       '$54K-$102K ', '$102K-$163K ', '$76K-$140K ', '$60K-$101K ',
       '$82K-$133K ', '$65K-$125K ', '$91K-$148K ', '$95K-$173K ',
       '$77K-$124K ', '$80K-$135K ', '$85K-$159K ', '$80K-$105K',
       '$43K-$81K ', '$29K-$50K ', '$26K-$55K ', '$61K-$118K ',
       '$60K-$102K ', '$112K-$182K ', '$51K-$112K ', '$113K-$223K ',
       '$72K-$129K ', '$71K-$123K ', '$120K-$145K', '$80K-$120K ',
       '$80K-$130K ', '$59K-$115K ', '$71K-$136K ', '$81K-$167K ',
       '$71K-$204K ', '$75K-$125K ', '$77K-$136K ', '$74K-$123K ',
       '$44K-$78K ', '$65K-$148K ', '$59K-$110K ', '$85K-$134K ',
       '$124K-$204K ', '$131K-$207K ', '$110K-$174K ', '$52K-$101K ',
       '$81K-$133K ', '$132K-$211K ', '$74K-$140K ', '$100K-$190K ',
       '$43K-$80K ', '$17-$24', '$91K-$149K ', '$42K-$82K ',
       '$116K-$185K ', '$59K-$116K ', '$48K-$95K ', '$31K-$72K ',
       '$105K-$198K ', '$98K-$182K ', '$73K-$124K ', '$200K-$250K',
       '$21-$34', '$117K-$206K ', '$111K-$183K ', '$81K-$159K ',
       '$83K-$166K ', '$114K-$182K ', '$42K-$76K ', '$114K-$179K ',
       '$60K-$123K ', '$100K-$166K ', '$108K-$173K ', '$48K-$93K ',
       '$54K-$115K ', '$60K-$127K ', '$90K-$179K ', '$138K-$224K ',
       '$190K-$220K', '$35K-$62K ', '$18-$25', '$39K-$66K ', '$42K-$86K ',
       '$69K-$127K ', '$40K-$68K ', '$49K-$113K ', '$75K-$140K ',
       '$66K-$112K ', '$76K-$125K ', '$44K-$86K ', '$15-$25',
       '$53K-$92K ', '$65K-$120K ', '$60K-$103K ', '$53K-$105K ',
       '$33K-$62K ', '$48K-$90K ', '$34K-$64K ', '$66K-$111K ',
       '$91K-$138K ', '$62K-$114K ', '$71K-$129K ', '$74K-$119K ',
       '$55K-$97K ', '$15K-$16K', '$61K-$106K ', '$127K-$199K ',
       '$74K-$126K ', '$33K-$72K ', '$37K-$63K ', '$67K-$119K ',
       '$72K-$117K ', '$78K-$126K ', '$116K-$194K ', '$83K-$133K ',
       '$45K-$82K ', '$83K-$135K ', '$70K-$122K ', '$70K-$132K ',
       '$54K-$101K ', '$68K-$112K ', '$42K-$74K ', '$95K-$161K ',
       '$76K-$126K ', '$108K-$176K ', '$130K-$208K ', '$37K-$68K ',
       '$52K-$99K ', '$105K-$173K ', '$71K-$134K ', '$39K-$82K ',
       '$88K-$162K ', '$55K-$99K ', '$67K-$117K ', '$92K-$150K ',
       '$116K-$209K ', '$38K-$82K ', '$85K-$90K', '$62K-$119K ',
       '$84K-$136K ', '$52K-$89K ', '$65K-$119K ', '$63K-$101K ',
       '$127K-$202K ', '$31K-$57K ', '$75K-$143K ', '$105K-$194K ',
       '$45K-$86K ', '$95K-$154K ', '$80K-$148K ', '$36K-$62K ',
       '$50K-$92K ', '$67K-$135K ', '$42K-$80K ', '$68K-$139K ',
       '$34K-$92K ', '$54K-$71K ', '$65K-$124K ', '$109K-$200K ',
       '$61K-$113K ', '$43K-$86K ', '$74K-$149K ', '$113K-$196K ',
       '$97K-$160K ', '$24-$39', '$102K-$172K ', '$108K-$171K ',
       '$76K-$142K ', '$202K-$306K ', '$49K-$97K ', '$65K-$134K ',
       '$32K-$59K ', '$87K-$158K ', '$107K-$173K ', '$56K-$99K ',
       '$25-$28', '$80K-$155K ', '$43K-$98K ', '$45K-$78K ', '$44K-$96K ',
       '$50K-$110K ', '$61K-$119K ', '$100K-$140K', '$56K-$91K ',
       '$101K-$158K ', '$125K-$210K ', '$43K-$77K ', '$139K-$221K ',
       '$78K-$147K ', '$37K-$66K ', '$38K-$64K ', '$43K-$82K ',
       '$90K-$110K', '$93K-$151K ', '$40K-$101K ', '$97K-$180K ',
       '$81K-$134K ', '$84K-$157K ', '$121K-$203K ', '$52K-$85K ',
       '$81K-$140K ', '$83K-$148K ', '$31K-$55K ', '$102K-$178K ',
       '$110K-$130K', '$48K-$85K ', '$66K-$123K ', '$92K-$146K ',
       '$21-$29', '$10-$17', '$150K-$239K ', '$52K-$91K ', '$82K-$129K',
       '$47K-$101K ', '$49K-$76K ', '$43K-$88K ', '$124K-$199K ',
       '$97K-$181K ', '$100K-$173K ', '$53K-$96K ', '$65K-$96K ',
       '$75K-$127K ', '$94K-$139K ', '$176K-$289K ', '$92K-$149K ',
       '$118K-$188K ', '$108K-$146K ', '$65K-$106K ', '$55K-$98K ',
       '$94K-$162K ', '$63K-$120K ', '$126K-$228K ', '$80K-$134K ',
       '$85K-$142K ', '$87K-$140K ', '$76K-$127K ', '$54K-$92K ',
       '$61K-$100K ', '$112K-$179K ', '$63K-$111K ', '$75K-$126K ',
       '$110K-$184K ', '$76K-$145K ', '$70K-$118K ', '$94K-$153K ',
       '$150K-$180K ', '$42K-$77K ', '$47K-$85K ', '$62K-$112K ',
       '$64K-$108K ', '$89K-$144K ', '$55K-$105K ', '$135K-$211K ',
       '$57K-$80K ', '$129K-$215K ', '$63K-$127K ', '$50K-$89K ',
       '$71K-$124K ', '$69K-$121K ', '$150K-$238K ', '$77K-$132K ',
       '$59K-$112K ', '$35K-$65K ', '$79K-$147K ', '$119K-$187K ',
       '$90K-$157K ', '$32K-$62K ', '$116K-$208K ', '$102K-$165K ',
       '$91K-$159K ', '$80K-$133K ', '$39K-$69K ', '$27K-$48K ',
       '$36K-$71K ', '$130K-$206K ', '$99K-$178K ', '$86K-$137K ',
       '$37K-$100K ', '$58K-$111K ', '$72K-$133K ', '$61K-$126K ',
       '$95K-$160K ', '$33K-$61K ', '$69K-$119K ', '$67K-$127K ',
       '$66K-$117K ', '$50K-$98K ', '$90K-$153K ', '$100K-$135K',
       '$42K-$79K ', '$84K-$153K ', '$44K-$73K ', '$40K-$87K ',
       '$72K-$142K ', '$74K-$137K ', '$57K-$109K ', '$136K-$208K ',
       '$171K-$272K ', '$65K-$126K ', '$118K-$228K ', '$113K-$182K ',
       '$58K-$104K ', '$58K-$108K ', '$81K-$161K ', '$115K-$220K ',
       '$71K-$144K ', '$32K-$57K ', '$79K-$136K ', '$48K-$113K ',
       '$27-$47', '$68K-$125K ', '$39K-$67K ', '$71K-$135K ',
       '$61K-$123K ', '$87K-$141K ', '$71K-$121K ', '$72K-$121K ',
       '$51K-$88K ', '$101K-$141K ', '$79K-$127K ', '$81K-$132K ',
       '$120K-$140K', '$65K-$113K ', '$59K-$125K ', '$80K-$142K ',
       '$62K-$113K '], dtype=object)

In [53]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('(Employer est.)', '')

In [38]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('K', '')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('$', '')

In [39]:
df['Salary Estimate'].unique()

array(['53-91 ', '63-112 ', '80-90 ', '56-97 ', '86-143 ', '71-119 ',
       '54-93 ', '86-142 ', '38-84 ', '120-160 ', '126-201 ', '64-106 ',
       '106-172 ', '46-85 ', '83-144 ', '102-190 ', '67-137 ', '118-189 ',
       '110-175 ', '64-111 ', '81-130 ', '73-119 ', '86-139 ', '63-105 ',
       '109-177 ', '63-110 ', '75-124 ', '34-61 ', '72-120 ', '93-149 ',
       '85-140 ', '77-135 ', '82-132 ', '83-137 ', '115-180 ', '74-138 ',
       '64-112 ', '68-129 ', '52-113 ', '110-150(Employer est.)',
       'Employer Provided Salary:150-160', '158-211 ', '20-39 ',
       '56-117 ', '63-99 ', '68-114 ', '41-95 ', '86-144 ', '80-139 ',
       '56-95 ', '120-189 ', '111-176 ', '84-146 ', '107-172 ', '49-85 ',
       '61-109 ', '88-148 ', '60-99 ', '41-72 ', '96-161 ', '65-130 ',
       '52-81 ', '139-220 ', '50-102 ', '85-139 ', '74-122 ', '99-157 ',
       '79-222 ', '57-118 ', '86-141 ', '94-154 ', '37-76 ', '100-160 ',
       '55-100 ', '60-114 ', '39-68 ', '64-107 ', '31-65 ', '34-62 ',
       '117-231 ', '79-134 ', '52-93 ', '55-116 ', '72-123 ', '74-124 ',
       '40-73 ', '102-164 ', '89-153 ', '61-110 ', '65-110 ',
       '200-275(Employer est.)', '68-123 ', '80-129 ', '39-71 ', '38-85 ',
       '121-193 ', '54-102 ', '102-163 ', '76-140 ', '60-101 ', '82-133 ',
       '65-125 ', '91-148 ', '95-173 ', '77-124 ', '80-135 ', '85-159 ',
       '80-105(Employer est.)', '43-81 ', '29-50 ', '26-55 ', '61-118 ',
       '60-102 ', '112-182 ', '51-112 ', '113-223 ', '72-129 ', '71-123 ',
       'Employer Provided Salary:120-145', '80-120 ', '80-130 ',
       '59-115 ', '71-136 ', '81-167 ', '71-204 ', '75-125 ', '77-136 ',
       '74-123 ', '44-78 ', '65-148 ', '59-110 ', '85-134 ', '124-204 ',
       '131-207 ', '110-174 ', '52-101 ', '81-133 ', '132-211 ',
       '74-140 ', '100-190 ', '43-80 ', '17-24 Per Hour', '91-149 ',
       '42-82 ', '116-185 ', '59-116 ', '48-95 ', '31-72 ', '105-198 ',
       '98-182 ', '73-124 ', 'Employer Provided Salary:200-250',
       '21-34 Per Hour', '117-206 ', '111-183 ', '81-159 ', '83-166 ',
       '114-182 ', '42-76 ', '114-179 ', '60-123 ', '100-166 ',
       '108-173 ', '48-93 ', '54-115 ', '60-127 ', '90-179 ', '138-224 ',
       '190-220(Employer est.)', '35-62 ', '18-25 Per Hour', '39-66 ',
       '42-86 ', '69-127 ', '40-68 ', '49-113 ', '75-140 ', '66-112 ',
       '76-125 ', '44-86 ', '15-25 Per Hour', '53-92 ', '65-120 ',
       '60-103 ', '53-105 ', '33-62 ', '48-90 ', '34-64 ', '66-111 ',
       '91-138 ', '62-114 ', '71-129 ', '74-119 ', '55-97 ',
       '15-16(Employer est.)', '61-106 ', '127-199 ', '74-126 ', '33-72 ',
       '37-63 ', '67-119 ', '72-117 ', '78-126 ', '116-194 ', '83-133 ',
       '45-82 ', '83-135 ', '70-122 ', '70-132 ', '54-101 ', '68-112 ',
       '42-74 ', '95-161 ', '76-126 ', '108-176 ', '130-208 ', '37-68 ',
       '52-99 ', '105-173 ', '71-134 ', '39-82 ', '88-162 ', '55-99 ',
       '67-117 ', '92-150 ', '116-209 ', '38-82 ',
       'Employer Provided Salary:85-90', '62-119 ', '84-136 ', '52-89 ',
       '65-119 ', '63-101 ', '127-202 ', '31-57 ', '75-143 ', '105-194 ',
       '45-86 ', '95-154 ', '80-148 ', '36-62 ', '50-92 ', '67-135 ',
       '42-80 ', '68-139 ', '34-92 ', '54-71 ', '65-124 ', '109-200 ',
       '61-113 ', '43-86 ', '74-149 ', '113-196 ', '97-160 ',
       '24-39 Per Hour', '102-172 ', '108-171 ', '76-142 ', '202-306 ',
       '49-97 ', '65-134 ', '32-59 ', '87-158 ', '107-173 ', '56-99 ',
       'Employer Provided Salary:25-28 Per Hour', '80-155 ', '43-98 ',
       '45-78 ', '44-96 ', '50-110 ', '61-119 ',
       'Employer Provided Salary:100-140', '56-91 ', '101-158 ',
       '125-210 ', '43-77 ', '139-221 ', '78-147 ', '37-66 ', '38-64 ',
       '43-82 ', '90-110(Employer est.)', '93-151 ', '40-101 ', '97-180 ',
       '81-134 ', '84-157 ', '121-203 ', '52-85 ', '81-140 ', '83-148 ',
       '31-55 ', '102-178 ', 'Employer Provided Salary:110-130', '48-85 ',
       '66-123 ', '92-146 ', '21-29 Per Hour', '10-17 Per Hour',
       '150-239 ', '52-91 ', '82-129(Employer est.)', '47-101 ', '49-76 ',
       '43-88 ', '124-199 ', '97-181 ', '100-173 ', '53-96 ', '65-96 ',
       '75-127 ', '94-139 ', '176-289 ', '92-149 ', '118-188 ',
       '108-146 ', '65-106 ', '55-98 ', '94-162 ', '63-120 ', '126-228 ',
       '80-134 ', '85-142 ', '87-140 ', '76-127 ', '54-92 ', '61-100 ',
       '112-179 ', '63-111 ', '75-126 ', '110-184 ', '76-145 ', '70-118 ',
       '94-153 ', '150-180 ', '42-77 ', '47-85 ', '62-112 ', '64-108 ',
       '89-144 ', '55-105 ', '135-211 ', '57-80 ', '129-215 ', '63-127 ',
       '50-89 ', '71-124 ', '69-121 ', '150-238 ', '77-132 ', '59-112 ',
       '35-65 ', '79-147 ', '119-187 ', '90-157 ', '32-62 ', '116-208 ',
       '102-165 ', '91-159 ', '80-133 ', '39-69 ', '27-48 ', '36-71 ',
       '130-206 ', '99-178 ', '86-137 ', '37-100 ', '58-111 ', '72-133 ',
       '61-126 ', '95-160 ', '33-61 ', '69-119 ', '67-127 ', '66-117 ',
       '50-98 ', '90-153 ', 'Employer Provided Salary:100-135', '42-79 ',
       '84-153 ', '44-73 ', '40-87 ', '72-142 ', '74-137 ', '57-109 ',
       '136-208 ', '171-272 ', '65-126 ', '118-228 ', '113-182 ',
       '58-104 ', '58-108 ', '81-161 ', '115-220 ', '71-144 ', '32-57 ',
       '79-136 ', '48-113 ', '27-47 Per Hour', '68-125 ', '39-67 ',
       '71-135 ', '61-123 ', '87-141 ', '71-121 ', '72-121 ', '51-88 ',
       '101-141 ', '79-127 ', '81-132 ',
       'Employer Provided Salary:120-140', '65-113 ', '59-125 ',
       '80-142 ', '62-113 '], dtype=object)

In [40]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck"
951,951,Senior Data Engineer,72-133,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,95-160,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
955,955,Research Scientist – Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

In [42]:
def fun(x):
    if "Employer Provided Salary" in x:
        return 1
    else:
        return 0

df['Employer_Provided_Salary']=df['Salary Estimate'].apply(lambda x:fun(x))

In [45]:
def funn(x):
    if "Per Hour" in x:
        return 1
    else:
        return 0

df['Per Hour']=df['Salary Estimate'].apply(lambda x:funn(x))

In [49]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Employer_Provided_Salary,Per Hour
48,48,Data Scientist,Employer Provided Salary:150-160,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,1,0
161,161,Data Engineer,Employer Provided Salary:120-145,"Location: Tampa, FL\nTitle: Data Engineer\nTS/...",5.0,Gridiron IT\n5.0,"Tampa, FL","Reston, VA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,1,0
208,208,Principal Data Scientist with over 10 years ex...,Employer Provided Salary:200-250,Position Title: Principal Data Scientist\nLoca...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,1,0
331,331,Principal Data Scientist with over 10 years ex...,Employer Provided Salary:200-250,Position Title: Principal Data Scientist\nLoca...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,1,0
377,377,Data Operations Lead,Employer Provided Salary:85-90,Data Operations Lead\nLocation: Flexible thoug...,-1.0,Muso,"San Francisco, CA","San Francisco, CA",201 to 500 employees,-1,Nonprofit Organization,-1,-1,Unknown / Non-Applicable,-1,1,0
464,464,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:25-28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1,1
472,472,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,1,0
477,477,Data Scientist,Employer Provided Salary:150-160,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,1,0
518,518,"Senior Scientist, Cell Pharmacology/Assay Deve...",Employer Provided Salary:110-130,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,1,0
694,694,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:25-28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1,1
703,703,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,1,0
741,741,"Scientist – Cancer Discovery, Molecular Assay",Employer Provided Salary:100-135,"Scientist – Cancer Discovery, Molecular Assay\...",-1.0,Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1,-1,-1,-1,-1,-1,1,0
778,778,"Senior Scientist, Cell Pharmacology/Assay Deve...",Employer Provided Salary:110-130,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,1,0
819,819,"Principal Research Scientist/Team Lead, Medici...",Employer Provided Salary:120-145,"Principal Research Scientist/Team Lead, Medici...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,1,0
893,893,Senior Data Scientist,Employer Provided Salary:120-140,"SkySync is a dynamic, fast-paced, venture-back...",5.0,SkySync\n5.0,"Ann Arbor, MI","Ann Arbor, MI",51 to 200 employees,2011,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,1,0
936,936,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:25-28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1,1
943,943,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:100-140,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,1,0

In [50]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace(' Per Hour', '')
df['Salary Estimate'] = df['Salary Estimate'].str.replace('Employer Provided Salary:', '')

In [54]:
df['Salary Estimate'].unique()

array(['53-91 ', '63-112 ', '80-90 ', '56-97 ', '86-143 ', '71-119 ',
       '54-93 ', '86-142 ', '38-84 ', '120-160 ', '126-201 ', '64-106 ',
       '106-172 ', '46-85 ', '83-144 ', '102-190 ', '67-137 ', '118-189 ',
       '110-175 ', '64-111 ', '81-130 ', '73-119 ', '86-139 ', '63-105 ',
       '109-177 ', '63-110 ', '75-124 ', '34-61 ', '72-120 ', '93-149 ',
       '85-140 ', '77-135 ', '82-132 ', '83-137 ', '115-180 ', '74-138 ',
       '64-112 ', '68-129 ', '52-113 ', '110-150', '150-160', '158-211 ',
       '20-39 ', '56-117 ', '63-99 ', '68-114 ', '41-95 ', '86-144 ',
       '80-139 ', '56-95 ', '120-189 ', '111-176 ', '84-146 ', '107-172 ',
       '49-85 ', '61-109 ', '88-148 ', '60-99 ', '41-72 ', '96-161 ',
       '65-130 ', '52-81 ', '139-220 ', '50-102 ', '85-139 ', '74-122 ',
       '99-157 ', '79-222 ', '57-118 ', '86-141 ', '94-154 ', '37-76 ',
       '100-160 ', '55-100 ', '60-114 ', '39-68 ', '64-107 ', '31-65 ',
       '34-62 ', '117-231 ', '79-134 ', '52-93 ', '55-116 ', '72-123 ',
       '74-124 ', '40-73 ', '102-164 ', '89-153 ', '61-110 ', '65-110 ',
       '200-275', '68-123 ', '80-129 ', '39-71 ', '38-85 ', '121-193 ',
       '54-102 ', '102-163 ', '76-140 ', '60-101 ', '82-133 ', '65-125 ',
       '91-148 ', '95-173 ', '77-124 ', '80-135 ', '85-159 ', '80-105',
       '43-81 ', '29-50 ', '26-55 ', '61-118 ', '60-102 ', '112-182 ',
       '51-112 ', '113-223 ', '72-129 ', '71-123 ', '120-145', '80-120 ',
       '80-130 ', '59-115 ', '71-136 ', '81-167 ', '71-204 ', '75-125 ',
       '77-136 ', '74-123 ', '44-78 ', '65-148 ', '59-110 ', '85-134 ',
       '124-204 ', '131-207 ', '110-174 ', '52-101 ', '81-133 ',
       '132-211 ', '74-140 ', '100-190 ', '43-80 ', '17-24', '91-149 ',
       '42-82 ', '116-185 ', '59-116 ', '48-95 ', '31-72 ', '105-198 ',
       '98-182 ', '73-124 ', '200-250', '21-34', '117-206 ', '111-183 ',
       '81-159 ', '83-166 ', '114-182 ', '42-76 ', '114-179 ', '60-123 ',
       '100-166 ', '108-173 ', '48-93 ', '54-115 ', '60-127 ', '90-179 ',
       '138-224 ', '190-220', '35-62 ', '18-25', '39-66 ', '42-86 ',
       '69-127 ', '40-68 ', '49-113 ', '75-140 ', '66-112 ', '76-125 ',
       '44-86 ', '15-25', '53-92 ', '65-120 ', '60-103 ', '53-105 ',
       '33-62 ', '48-90 ', '34-64 ', '66-111 ', '91-138 ', '62-114 ',
       '71-129 ', '74-119 ', '55-97 ', '15-16', '61-106 ', '127-199 ',
       '74-126 ', '33-72 ', '37-63 ', '67-119 ', '72-117 ', '78-126 ',
       '116-194 ', '83-133 ', '45-82 ', '83-135 ', '70-122 ', '70-132 ',
       '54-101 ', '68-112 ', '42-74 ', '95-161 ', '76-126 ', '108-176 ',
       '130-208 ', '37-68 ', '52-99 ', '105-173 ', '71-134 ', '39-82 ',
       '88-162 ', '55-99 ', '67-117 ', '92-150 ', '116-209 ', '38-82 ',
       '85-90', '62-119 ', '84-136 ', '52-89 ', '65-119 ', '63-101 ',
       '127-202 ', '31-57 ', '75-143 ', '105-194 ', '45-86 ', '95-154 ',
       '80-148 ', '36-62 ', '50-92 ', '67-135 ', '42-80 ', '68-139 ',
       '34-92 ', '54-71 ', '65-124 ', '109-200 ', '61-113 ', '43-86 ',
       '74-149 ', '113-196 ', '97-160 ', '24-39', '102-172 ', '108-171 ',
       '76-142 ', '202-306 ', '49-97 ', '65-134 ', '32-59 ', '87-158 ',
       '107-173 ', '56-99 ', '25-28', '80-155 ', '43-98 ', '45-78 ',
       '44-96 ', '50-110 ', '61-119 ', '100-140', '56-91 ', '101-158 ',
       '125-210 ', '43-77 ', '139-221 ', '78-147 ', '37-66 ', '38-64 ',
       '43-82 ', '90-110', '93-151 ', '40-101 ', '97-180 ', '81-134 ',
       '84-157 ', '121-203 ', '52-85 ', '81-140 ', '83-148 ', '31-55 ',
       '102-178 ', '110-130', '48-85 ', '66-123 ', '92-146 ', '21-29',
       '10-17', '150-239 ', '52-91 ', '82-129', '47-101 ', '49-76 ',
       '43-88 ', '124-199 ', '97-181 ', '100-173 ', '53-96 ', '65-96 ',
       '75-127 ', '94-139 ', '176-289 ', '92-149 ', '118-188 ',
       '108-146 ', '65-106 ', '55-98 ', '94-162 ', '63-120 ', '126-228 ',
       '80-134 ', '85-142 ', '87-140 ', '76-127 ', '54-92 ', '61-100 ',
       '112-179 ', '63-111 ', '75-126 ', '110-184 ', '76-145 ', '70-118 ',
       '94-153 ', '150-180 ', '42-77 ', '47-85 ', '62-112 ', '64-108 ',
       '89-144 ', '55-105 ', '135-211 ', '57-80 ', '129-215 ', '63-127 ',
       '50-89 ', '71-124 ', '69-121 ', '150-238 ', '77-132 ', '59-112 ',
       '35-65 ', '79-147 ', '119-187 ', '90-157 ', '32-62 ', '116-208 ',
       '102-165 ', '91-159 ', '80-133 ', '39-69 ', '27-48 ', '36-71 ',
       '130-206 ', '99-178 ', '86-137 ', '37-100 ', '58-111 ', '72-133 ',
       '61-126 ', '95-160 ', '33-61 ', '69-119 ', '67-127 ', '66-117 ',
       '50-98 ', '90-153 ', '100-135', '42-79 ', '84-153 ', '44-73 ',
       '40-87 ', '72-142 ', '74-137 ', '57-109 ', '136-208 ', '171-272 ',
       '65-126 ', '118-228 ', '113-182 ', '58-104 ', '58-108 ', '81-161 ',
       '115-220 ', '71-144 ', '32-57 ', '79-136 ', '48-113 ', '27-47',
       '68-125 ', '39-67 ', '71-135 ', '61-123 ', '87-141 ', '71-121 ',
       '72-121 ', '51-88 ', '101-141 ', '79-127 ', '81-132 ', '120-140',
       '65-113 ', '59-125 ', '80-142 ', '62-113 '], dtype=object)

In [56]:
def extract_min_salary(x):
    return int(x.split('-')[0])

def extract_max_salary(x):
    return int(x.split('-')[1])

df['min_salary'] = df['Salary Estimate'].apply(extract_min_salary)
df['max_salary'] = df['Salary Estimate'].apply(extract_max_salary)

In [64]:
def cmp(x):
    for i in range(len(x)-1):
        if x[i] == "\n":
            x = x[0:i]
            break
    return x

df['Company_txt'] = df['Company Name'].apply(cmp)

In [75]:
def loc_change(x):
    result_list = x.split(',')
    return ''.join(result_list[1:3]).upper()

df['Location_abb'] = df['Location'].apply(lambda x: loc_change(x))

In [80]:
df['Location_abb'].value_counts()

Location_abb
 CA                151
 MA                103
 NY                 72
 VA                 41
 IL                 40
 MD                 35
 PA                 33
 TX                 28
 WA                 21
 NC                 21
 NJ                 17
 FL                 16
 OH                 14
 TN                 13
 DC                 11
 CO                 11
 WI                 10
 IN                 10
 UT                 10
 AZ                  9
 MO                  9
 AL                  8
 GA                  6
 KY                  6
 DE                  6
 MI                  6
 CT                  5
 IA                  5
 LA                  4
 OR                  4
 NE                  4
 NM                  3
 KS                  3
 ID                  2
 MN                  2
 LOS ANGELES CA      1
 RI                  1
 SC                  1
Name: count, dtype: int64

In [77]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,Employer_Provided_Salary,Per Hour,min_salary,max_salary,Company_txt,Location_abb
0,0,Data Scientist,53-91,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,Tecolote Research,NM
1,1,Healthcare Data Scientist,63-112,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,University of Maryland Medical System,MD
2,2,Data Scientist,80-90,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,KnowBe4,FL
3,3,Data Scientist,56-97,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,PNNL,WA
4,4,Data Scientist,86-143,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,Affinity Solutions,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",58-111,Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,GSK,MA
951,951,Senior Data Engineer,72-133,THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,Eventbrite,TN
952,952,"Project Scientist - Auton Lab, Robotics Institute",56-91,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56,91,Software Engineering Institute,PA
953,953,Data Science Manager,95-160,Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95,160,"Numeric, LLC",PA
955,955,Research Scientist – Security and Privacy,61-126,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61,126,Riverside Research Institute,OH

In [82]:
def loc_same(row):
    if row['Location'] == row['Headquarters']:
        return 1
    else:
        return 0

df['Location_same'] = df.apply(lambda row: loc_same(row), axis=1)

In [84]:
df['Location_same']

0      0
1      0
2      1
3      1
4      1
      ..
950    0
951    0
952    1
953    0
955    0
Name: Location_same, Length: 742, dtype: int64

In [86]:
df['avg_salary']=(df['max_salary']+df['min_salary'])/2

In [87]:
df['avg_salary']

0       72.0
1       87.5
2       85.0
3       76.5
4      114.5
       ...
950     84.5
951    102.5
952     73.5
953    127.5
955     93.5
Name: avg_salary, Length: 742, dtype: float64

In [90]:
df['Founded'].unique()

array([1973, 1984, 2010, 1965, 1998, 2000, 2008, 2005, 2014, 2009, 2011,
       1968, 1962, 2012, 1781, 1995, 1915, 2013, 1935, 1849, 1952, 1852,
       1997, 1996, 1974, 1969, 1870, 1985,   -1, 2015, 1993, 1958, 1986,
       1999, 1925, 1912, 2002, 1863, 1939, 2016, 1885, 2006, 1948, 2003,
       1927, 1978, 1860, 2017, 1942, 1990, 1988, 2001, 2007, 1992, 1994,
       1977, 2019, 1982, 1937, 1878, 1966, 1971, 1943, 1987, 1945, 1846,
       1851, 1976, 1981, 1970, 1951, 1967, 1961, 1964, 1930, 1917, 1883,
       1887, 2004, 1850, 1902, 1744, 1929, 1947, 1991, 1989, 1928, 1875,
       1913, 1972, 1856, 1983, 1922, 1812, 1914, 1980, 1954, 1830, 1975,
       1899, 1979, 1889], dtype=int64)

In [93]:
def since(x):
    if x<1:
        return x
    else:
        return (2020-x)

df['Since_Years'] = df['Founded'].apply(lambda x: since(x))

In [94]:
df['Since_Years']

0       47
1       36
2       10
3       55
4       22
      ...
950    190
951     14
952     36
953     -1
955     53
Name: Since_Years, Length: 742, dtype: int64

In [96]:
#Python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [97]:
#R
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

In [98]:
#Spark
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

In [99]:
#aws
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [101]:
df = df.drop('Unnamed: 0', axis=1)

In [104]:
csv_file_path = 'C:/Users/roboc/Downloads/salaries_cleaned.csv'
df.to_csv(csv_file_path, index=False)